/* https://blog.logrocket.com/what-should-modern-css-boilerplate-look-like/#:~:text=A%20CSS%20boilerplate%20is%20a,up%20and%20running%20in%20seconds. */
*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

a {
  /* Places underlines below the descenders */
  text-underline-position: under;
  /* Sets the thickness as a percentage of the font size */
  text-decoration-thickness: 8;
  /* I DISABLE THE DECORATION */
  text-decoration: none;
  /* Sets the color to default */
  color: inherit;
}
/* for auto text size correction disable */
html {
  /* -webkit-text-size-adjust: none; for iOS Safari */
  /* text-size-adjust: none; for other mobile browsers */
}
/*  pseudo-class provides a less aggressive approach to styling interactive elements that are currently being focused on. More specifically, using the snippet below, you can use it to remove the outline for mouse users but keep it for keyboard users. With just one selector, no less!*/
/* :focus:not(:focus-visible) {
  outline: none;
} */
label,
button,
select,
summary,
[type='radio'],
[type='submit'],
[type='checkbox'] {
  cursor: pointer;
}
