<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email verification</title>
  </head>
  <body>
    <h1>Thank you for registering to Flatmate, <%= fullname %></h1>
    <p>
      Please click the following link to verify your email address:
      <a href="<%= linkUrl %>">Verify email</a>
    </p>
    <p>If you didn't request this, you can ignore this email.</p>
  </body>
</html>
